# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Testing if counters can swap


### Test Data 

I what to see if it will not swap if square is empty - boundary

### Expected result

![doing swap1.gif](screenshots/doing-swap1.gif)


---

## Lower and Upper case


### Test Data 

I want to show that lower and upper case work - Valid

### Expected result
![lower and uppercase.gif](screenshots/lower-and-uppercase.gif)


---

## Cant go witch way if blocked


## Test data
I want to see that if i go a way that blocked it wont work - invalid

## Expected result


---![cant go if blocked.gif](screenshots/cant-go-if-blocked.gif)
It went back to the person turn

## Cant move into a X


## Test data
It must not move into where a X is - boundary

## Expected result


---![cant move into a x.gif](screenshots/cant-move-into-a-x.gif)
It put it back to who's ever turn  it was

## Names


## Test data
Letter should work - Valid

## Expected result


---![names.gif](screenshots/names.gif)
Any letter in any order works

## No empty name



## Test data
I want it to repeat if there nothing in name  - invalid

## Expected result

---![no empty name.gif](screenshots/no-empty-name.gif)
It repeats what it siad


## Bored shows up


## Test data
I want bored to show - Valid

## Expected result


---![bored show up.gif](screenshots/bored-show-up.gif)
The bored show up

## Cant put letter in right/left


## Test data
Putting in a letter should not work -invalid

## Expected result

---![cant put letter in right or left.gif](screenshots/cant-put-letter-in-right-or-left.gif)
It broke the game

## Can the counter move left

## Test data
I will put in an L and it should move left - Valid

## Expected result


---![left work.gif](screenshots/left-work.gif)
I put L in and it worked

## Right work
Right work

## Test data
I will put an R in -Valid


## Expected result

---![right work.gif](screenshots/right-work.gif)
 I put an R in and it moved to the right