# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Testing if counters can swap

test swap
### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![doing swap1.gif](screenshots/doing-swap1.gif)


---

## Example Test Name

lower and upper case
### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![lower and uppercase.gif](screenshots/lower-and-uppercase.gif)


---

## test name
cant go witch way if blocked

## test data
i what to see that if i go a way that blocked it wont work

## expeted resault


---![cant go if blocked.gif](screenshots/cant-go-if-blocked.gif)
it went back to the preson turn

## test name
cant move into a x

## test data
it must not move into where a x is - boundy

## epxted resualt


---![cant move into a x.gif](screenshots/cant-move-into-a-x.gif)
it put it back to whos ever trun  it was

## test name
names

## test data
letter should work - valind

## epsxted reuslat


---![names.gif](screenshots/names.gif)
any letter in any order works

## no emtpy name



## test data
i what it to repet if there nothing in name

## epxted reasult

---![no empty name.gif](screenshots/no-empty-name.gif)
it repets what it siad


## test name
bored shows up

## test data
i what bored to show - valind

## epexted resualt


---![bored show up.gif](..%2F..%2F..%2Fprogramming-commenting-testing%2Fdocs%2Fscreenshots%2Fbored%20show%20up.gif)
the boread show up

## test name
cant put letter in right/left

## test data
putting in a letter should not work -invaled

## expected resualt

---![cant put letter in right or left.gif](..%2F..%2F..%2Fprogramming-commenting-testing%2Fdocs%2Fscreenshots%2Fcant%20put%20letter%20in%20right%20or%20left.gif)
it broke the game
## Can the counter move left

## test data
i will put in l and it should move left - valind

## expeted resalut


---![left work.gif](screenshots/)
i put l in and it worked

## test name
right work

## test data
i will put a r in -valind


## expected resalut

---![right work.gif](..%2F..%2F..%2Fprogramming-commenting-testing%2Fdocs%2Fscreenshots%2Fright%20work.gif)
 i put a r in and it moved to the right